* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a,
u {
    color: black;
    text-decoration: none;
}

b,
strong {
    font-weight: 400;

}

i,
em {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 16px;
}

input {
    outline: none;
    border: none;
}

.center {
    width: 1220px;
    margin: 0 auto;
}

html {
    font-size: 4.26vw;
}

::-webkit-scrollbar {
    display: none
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.box {
    padding: .9375rem;
}

footer {
    padding: .9375rem .625rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background: white;
}

/* footer class */
.l1 {
    width: 1.875rem;
    height: 1.875rem;
    background: url(../img/2.png) no-repeat;
    background-size: 1.875rem 1.875rem;
    margin-bottom: .3125rem;
}

.l2 {
    background: url(../img/1.png) no-repeat;
    background-size: 1.875rem 1.875rem;
}

.l3 {
    background: url(../img/3.png) no-repeat;
    background-size: 1.875rem 1.875rem;
}

.l4 {
    background: url(../img/4.png) no-repeat;
    background-size: 1.875rem 1.875rem;
}

.list {
    width: 5.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    background: rgba(248, 248, 250);
}